body{
  background-color: black;
}
  
h1{
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: "Poppins";
  margin-top: 20px;
}

.calculator {
    width: 80%;
    height: 70%;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
  }
  
  #display {
    height: 100px;
    width: 450px;
    margin: 10px;
    border: 2px solid red;
    background-color: black;
    border-radius: 25px;
    color: white; 
    font-size: 30px;
    font-family: "Poppins", "sans-serif";
  }
  
  .keys button {
    width: 110px;
    height: 110px;
    margin: 7.5px;
    font-size: 30px;
    border-radius: 55px;
    border: 2px solid red;
    background-color: black;
    color: white;
    cursor: pointer;
  }